USE [master]
GO
/****** Object:  Database [LhlK22CNT3_Lesson11]    Script Date: 7/4/2024 9:44:26 AM ******/
CREATE DATABASE [TmnK22CNT3_Lesson11]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TmnK22CNT3_Lesson11', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LhlK22CNT3_Lesson11.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TmnK22CNT3_Lesson11_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LhlK22CNT3_Lesson11_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TmnK22CNT3_Lesson11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TmnK22CNT3_Lesson11]
GO
/****** Object:  Table [dbo].[LHLCategory]    Script Date: 7/4/2024 9:44:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TmnCategory](
	[TmnId] [int] NOT NULL,
	[TmnCateName] [nvarchar](50) NULL,
	[TmnStatus] [bit] NULL,
 CONSTRAINT [PK_LHLCategory] PRIMARY KEY CLUSTERED 
(
	[TmnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LHLProduct]    Script Date: 7/4/2024 9:44:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TmnProduct](
	[TmnId2210900037] [nvarchar](50) NOT NULL,
	[TmnProName] [nvarchar](50) NULL,
	[TmnQty] [int] NULL,
	[TmnPrice] [float] NULL,
	[TmnCateId] [int] NULL,
	[TmnActive] [bit] NULL,
 CONSTRAINT [PK_LHLProduct] PRIMARY KEY CLUSTERED 
(
	[TmnId2210900049] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TMNCategory] ([TmnId], [TmnCateName], [TmnStatus]) VALUES (1, N'2210900049', 1)
INSERT [dbo].[TMNCategory] ([TmnId], [TmnCateName], [TmnStatus]) VALUES (2, N'Tran Minh Nam', 1)
GO
INSERT [dbo].[TMNProduct] ([TmnId2210900037], [TmnProName], [TmnQty], [TmnPrice], [TmnCateId], [TmnActive]) VALUES (N'2210900037', N'Lê Hoàng long', 10, 10000, 1, 1)
INSERT [dbo].[TMNProduct] ([TmnId2210900037], [TmnProName], [TmnQty], [TmnPrice], [TmnCateId], [TmnActive]) VALUES (N'S001', N'Lê Hoàng Việt', 5, 10000, 2, 1)
GO
USE [master]
GO
